.login{
    background: transparent;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
section{
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);

}
h6{
  font-size: 25px !important;
  font-weight: bold;
  color: black;
  letter-spacing: 1.2px;
}
p{
  font-size: 25px;
  color: green;
}






